<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>

  <!-- Estilos -->
  <%- include ('partials/head.html') %>

</head>

<body>

  <!-- Header -->
  <%- include ('partials/header.html') %>

  <!-- Contenido pagina -->
  <main class="main-alto-min">

    <div class="container p-5">

      <!-- Page Content -->
      <div class="container p-5">

        <% if (juego != "") { %>
        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="<%=juego.Imagen %>" alt="">
          <div class="card-body">
            <h3 class="card-title"><%= juego.Nombre %></h3>
            <h4><%= juego.Genero %></h4>
            <h4>Precio: $<%= juego.Precio %></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit
              fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium
              animi perspiciatis molestias iure, ducimus!</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
              necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
              necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
              necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
              necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
              necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
              necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <% if (usuarioLogueado == "") { %>
            <a href="/login" class="btn btn-success">Comprar juego</a>
            <% } else { %>
            <a href="/usuario/<%=usuarioLogueado%>/<%=juego.id%>" class="btn btn-success">Comprar juego</a>
            <% } %>
          </div>
        </div>
        <!-- /.card -->
        <% } %>

      </div>
      <!-- /.container -->

    </div>

  </main>
  <!-- /.Contenido pagina -->

  <!-- Footer (Incluye JS)-->
  <%- include ('partials/footer.html') %>

</body>

</html>