<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Estilos -->
  <%- include ('partials/head.html') %>

</head>

<body>

  <!-- Header -->
  <%- include ('partials/header.html') %>

  <!-- Contenido pagina -->
  <main class="main-alto-min">

    <div class="container p-5">

      <div class="row text-center">

        <div class="col-md-6 offset-md-3">
          <div class="card">
            <card-body>
              <form action="">
                <div class="form-row">
                  <div class="col">
                    <label for="validationServer05"></label>
                    <input type="text" class="form-control" id="validationServer05" placeholder="Email" required>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col">
                    <label for="validationServer06"></label>
                    <input type="password" class="form-control" id="validationServer06" placeholder="Contraseña"
                      required>
                  </div>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">Ingresar</a>
                </div>
              </form>
            </card-body>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- /.Contenido pagina -->

  <!-- Footer (Incluye JS)-->
  <%- include ('partials/footer.html') %>

</body>

</html>