<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Estilos -->
  <%- include ('partials/head.html') %>

</head>

<body>

  <!-- Header -->
  <%- include ('partials/header.html') %>

  <!-- Contenido pagina -->
  <main class="main-alto-min">

    <div class="container p-5">

      <%- include ('partials/alert-success.html') %>
      <%- include ('partials/alert-error.html') %>

      <div class="row text-center">

        <div class="col-md-6 offset-md-3">
          <div class="card">
            <!-- <div class="card-body"> -->
            <form action="/login" method="POST">
              <div class="container">
                <div class="form-row mt-4 mb-4">
                  <div class="col">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col">
                    <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña"
                      required>
                  </div>
                </div>
              </div>
              <div class="card-footer mt-4">
                <button class="btn btn-primary" type="submit">Ingresar</button>
              </div>
            </form>
            <!-- </div> -->
          </div>
        </div>

      </div>

    </div>

  </main>
  <!-- /.Contenido pagina -->

  <!-- Footer (Incluye JS)-->
  <%- include ('partials/footer.html') %>

</body>

</html>