<% if (typeof juegos != "undefined") { for(var i=0; i<juegos.length; i++) { %>

<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="<%=juegos[i].Imagen %>" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="/tienda/<%= juegos[i].id %>/"><%= juegos[i].Nombre %></a>
            </h4>
            <h5><%= juegos[i].Genero %></h5>
            <h5>Precio: $<%= juegos[i].Precio %></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                numquam aspernatur!</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>

<% } } %>